<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog>
        <targets>
            <target name="main" type="File" fileName="log.txt" 
                    archiveEvery="Day" archiveAboveSize="1000000"
                    layout="${newline}${longdate} [${level:uppercase=true}] ${logger}: ${message} ${newline}${exception:format=tostring}"/>
        </targets>
        <rules>
            <logger name="*" writeTo="main"/>
        </rules>
    </nlog>
</configuration>